@import "../../../pages/base.less" ;

div.yh-article-overview{
    .yh-overview-content{
        background:#f9f9f9;
        padding:2px 0;
    }
    span{color:#999;margin-right:15px;font-size:12px;}
    span.yh-delete-article-btn{
        margin-left:10px;
        cursor:pointer;
        &:hover{
            color:rgb(228, 85, 85);
           
        }
    }
    //覆盖样式
    .ant-list-vertical .ant-list-item-content{margin-bottom:0;}
    
}