{% extends 'layout.njk' %}
   
{% block styleSection %}
   {# 外网下载速度分分钟狗带，弃用，采用本地读取 #}
   {# <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">  #}
   {# <link href="/css/font-awesome.min.css" rel="stylesheet"> #}
   <link rel="stylesheet" type="text/css" href="/index.css">
{% endblock %}

{% block content %}
    <div id="root"></div>
    {# 此处有坑
       不能采用 ./index.js的路径，会导致资源地址表达为： + resolve(资源请求地址，+“../index.js”)
       举个栗子，前端为单页面路由的，只要开头是/home的都会匹配到这里（index.njk)来
       当url 为 "/home" => /index.js
                "/home/note => /home/index.js
       就会出现资源路径错误的情况
       要用"/index.js"的方式才可匹配，此时用的是绝对路径
     #}
    <script src="/index.js"></script>
{% endblock %}

