{% extends 'layout.njk' %}

{% block styleSection %}
   {# 外网下载速度分分钟狗带，弃用，采用本地读取 #}
   {# <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">  #}
   {# <link href="/css/font-awesome.min.css" rel="stylesheet"> #}
   <link rel="stylesheet" type="text/css" href="/admin.css">
{% endblock %}

{% block content %}
    <div id="root"></div>
    <script src="/admin.js"></script>
{% endblock %}