



.yh-home{
    .yh-containter{
        position:absolute;
        height:100%;
        width:100%;
        top:0;
        bottom: 0;
        left:0;
        right:0;
        background:pink;
        background: url("../../assets/images/home_bg4.png") 
    }
    .yh-tiles{
        margin:10% 10% 0 10% ;
        height:65%;
        background:rgba(255,255,255,0);
        img{
            width:100%;
        }
        .yh-line{
            border-bottom:4px solid #528fac;
            width:50px;
        }
    }
    .yh-little-tiles{
        .ant-col-12{
 
        }
    }
}