//管理主页 导航布局
.yh-admin-guide-layout-row{
    .yh-admin-layout-left-wrapper{
        height:200px;
        margin-bottom:-1px;
        .yh-admin-layout-left-panel{
            height:100%;
            width:100%;
            border: 1px solid #d6d6d6;
        }
    }
}

.yh-admin-home-layout-containter{
    margin:100px auto 10px auto;
}