{

    "parser": "babel-eslint",
    "rules": {
            "semi":0,
            "no-unused-vars":1,
            "no-console":1,
            "no-undef":0,
            "arrow-spacing": 0
        }
    
}

