// IndexLayout.jsx
.yh-index-nav{
    position:fixed;
    z-index:10;
    width:100%;
    padding:15px 10% 15px 10%;
    background:#fff;
    border:1px solid #f0f0f0;
    text-align: right;
    top:0;
    cursor: pointer;
    a,span{
        color:rgba(27,59,78,0.4);
        margin-left:15px;
        letter-spacing:1px;
    }
    a:hover,span:hover{
        color:rgba(27, 59, 78, 0.6);
    }
   
}

.yh-index-containter{
    margin-top:53px;
}