.yh-aboutme-panel{
    &.panel-1{
       .yh-img-banner{ width:100%;}
       .yh-img-head{
           width:200px;height:200px;border-radius:50%;border:5px solid #fff;margin-top:-140px;
        }
       .yh-base-info{
           max-width: 800px;margin:0 auto;
           ul li{list-style: none;}
           .yh-base-info-left li{text-align: right}
           .yh-base-info-right li{text-align: left}
        }
    }
}