// ArticleDetail 页面
.yh-article-detail{
     max-width: 700px;
     margin: 0 auto;
     background:#fff;
     .editor-statusbar{display:none;}
     .CodeMirror{border:none;}
     .editor-preview{
         background:#fff;height:auto;
         padding:0 40px;
         p{
             font-size:16px;
             margin-bottom:1em;
         }
         br{
             margin-bottom: 10px;
         }
        }
}